/* FONTS */

@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir.eot');
  src: url('/assets/fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir-Bold.eot');
  src: url('/assets/fonts/vazir/Vazir-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir-Black.eot');
  src: url('/assets/fonts/vazir/Vazir-Black.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir-Black.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir-Medium.eot');
  src: url('/assets/fonts/vazir/Vazir-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir-Light.eot');
  src: url('/assets/fonts/vazir/Vazir-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir-Light.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/vazir/Vazir-Thin.eot');
  src: url('/assets/fonts/vazir/Vazir-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('/assets/fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('/assets/fonts/vazir/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'flaticon';
  src: url('/assets/fonts/icons/flaticon.ttf?280e711c1e6420a917a97f0439629285')
      format('truetype'),
    url('/assets/fonts/icons/flaticon.woff?280e711c1e6420a917a97f0439629285')
      format('woff'),
    url('/assets/fonts/icons/flaticon.woff2?280e711c1e6420a917a97f0439629285')
      format('woff2'),
    url('/assets/fonts/icons/flaticon.eot?280e711c1e6420a917a97f0439629285#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/icons/flaticon.svg?280e711c1e6420a917a97f0439629285#flaticon')
      format('svg');
}

i[class^='flaticon-']:before,
i[class*=' flaticon-']:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^='flaticon-'],
i[class*=' flaticon-'] {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.flaticon-add:before {
  content: '\f101';
}
.flaticon-calendar:before {
  content: '\f102';
}
.flaticon-clock-circular-outline:before {
  content: '\f103';
}
.flaticon-copyright:before {
  content: '\f104';
}
.flaticon-facebook:before {
  content: '\f105';
}
.flaticon-instagram:before {
  content: '\f106';
}
.flaticon-linkedin-logo:before {
  content: '\f107';
}
.flaticon-log-out:before {
  content: '\f108';
}
.flaticon-loupe:before {
  content: '\f109';
}
.flaticon-refresh-arrow:before {
  content: '\f10a';
}
.flaticon-trash-bin:before {
  content: '\f10b';
}
.flaticon-twitter-logo-on-black-background:before {
  content: '\f10c';
}

:root {
  --color-primary-x-light: #8ed2ff;
  --color-primary-light: #1fa5ff;
  --color-primary: #0087e0;
  --color-primary-dark: #1a4c89;

  --color-success-light: #05d62838;
  --color-success: #28a745;

  --color-danger-light: #ffd5d6;
  --color-danger: #ff8286;

  --color-gray-x-light: #f2f2f2;
  --color-gray-light: #d8d8d8;
  --color-gray: #7d7a7a;

  --color-yellow: #edbb41;

  --color-white: #fff;

    --color-success-btn: #06d6a0;
}

body {
  font-family: Vazir, Tahoma, sans-serif;
}

.text-primary-dark {
  color: var(--color-primary-dark);
}

.text-success {
  padding: 0.2rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-success);
}

.text-danger {
  padding: 0.2rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-danger);
}

.text-gray {
  padding: 0.2rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
  font-weight: 900;
}

/*
** HEADER
*/
.header {
  border-bottom: 1px solid var(--color-primary);
}

.header__logo {
  width: 50px;
}

/*
** FOOTER
*/
.footer {
  background: var(--color-primary-dark);
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 0.5rem;
}

/*
** LABELED BOX
*/

.labeled-box {
  border: 2px solid var(--color-primary-light);
  padding: 2rem;
  position: relative;
  border-radius: 5px;
}

.labeled-box:not(:last-child) {
  margin-bottom: 3rem;
}

.labeled-box__label {
  position: absolute;
  top: -1rem;
  right: 2rem;
  background: var(--color-primary-light);
  color: var(--color-white);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
}

.labeled-box__footer {
  border-top: 2px solid var(--color-primary-light);
  padding: 0.7rem 2rem;

  margin: 0 -2rem -2rem;
}

.labeled-box__header {
  border-bottom: 2px solid var(--color-primary);
  margin: 0 -2rem;
  padding: 2rem;
}

.labeled-box__content {
  margin: 0 -2rem;
}

/*
** INFO BOX
*/
.info-box {
  border: 1px solid;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  display: inline-block;
}

.info-box--block {
  display: block;
  width: 100%;
}

.info-box--success {
  color: var(--color-success);
  border-color: var(--color-success);
  background: var(--color-success-light);
}

.info-box--danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
  background: var(--color-danger-light);
}

.info-box--danger-filled {
  color: var(--color-white);
  border-color: var(--color-danger);
  background: var(--color-danger);
}

.info-box--primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: var(--color-primary-light);
}

.info-box--gray {
  color: var(--color-gray);
  border-color: var(--color-gray);
  background: var(--color-gray-light);
}

.info-box--yellow {
  color: var(--color-white);
  border-color: var(--color-yellow);
  background: var(--color-yellow);
}

.info-box--outlined {
  background: var(--color-white);
}

.info-box--yellow {
  color: var(--color-white);
  border-color: var(--color-yellow);
  background: var(--color-yellow);
}

/*
** BTN
*/
.btn {
  display: inline-flex;
  align-items: center;
}

.btn:focus,
.btn:active {
  box-shadow: none !important;
}

.btn--wide {
  padding: 0.375rem 1.75rem;
}

.btn--icon {
  font-size: 20px;
  padding: 0.475rem 0.75rem;
}

.btn--icon.btn--small {
  padding: 0.275rem 0.45rem;
}

.btn-success,
.btn-success:hover,
.btn-success:active {
  background: var(--color-success-btn) !important;
  border-color: var(--color-success-btn) !important;
}

.btn-gray {
  background: var(--color-gray);
  color: var(--color-white);
}

.btn-gray-light {
  background: var(--color-gray-light);
  color: var(--color-white);
}

.btn-success-dark {
  background: var(--color-success);
  color: var(--color-white);
}

.btn-gray:hover,
.btn-gray-light:hover,
.btn-success-dark:hover {
  color: var(--color-white);
}
