/*
** TABLE
*/

.table th,
.table td {
  text-align: center;
  border-color: var(--color-gray-dark);
}

.table thead th {
  border-bottom: 1px solid var(--color-gray-dark);
}

/*
** SELECTED-COURSES
*/

.selected-courses__remove {
  font-size: 1.5rem;
}

/*
** SEARCH BOX
*/

.search-box {
  border: 1px solid var(--color-gray);
  padding: 1rem 2.5rem;
  border-radius: 5px;
}

.search-box__input {
  width: 15rem;
  margin-left: 1rem;
  border: 1px solid var(--color-gray);
  background: var(--color-gray-light);
  color: var(--color-gray);
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
}

.search-box__input:focus {
  outline: none;
}

.search-box__input::placeholder {
  text-align: center;
}

/*
** COURSE-FILTER
*/

.course-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-filters__item {
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-weight: bold;
  background: var(--color-white);
  padding: 0.5rem 1.5rem;
  color: var(--color-gray);
}

.course-filters__item--active {
  background: var(--color-primary-x-light);
  border-color: var(--color-primary-x-light);
}

.course-filters__item:not(:last-child) {
  margin-left: 1rem;
}
